:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
}

address {
  font-style: normal;
}
/* base */
* {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background: var(--color-brand-dark);
  background-color: transparent;
}

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
}

/* Header */
.header {
  background-color: lightgray;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
  gap: 40px;
}

/* hero-title */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand);
}

/* advanteges*/
.abvanteges-section {
  padding: 16px 0;
  background-color: var(--color-brand);
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advanteges-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/* section */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* traditions */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 100px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text:last-child {
  max-width: 330px;
}

/* cooker */
.cooker-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.cookers-title {
  margin-bottom: 80px;
}

/* forms */
.format-card {
  border: 1px solid lightgray;
  padding: 24px;

  border-radius: 16px;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-title {
  font-weight: 600;
  font-size: 24px;
}

.formats-text {
  font-weight: 300;
  font-size: 14px;
}

.formats-section {
  margin-bottom: 80px;
}

/* contact */
.contact-title {
  margin-bottom: 16px;
}

/* footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-copyright {
  font-size: 14px;
}
